* {
  padding: 0;
  margin: 0 auto;
}

.main-container{
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;

  height: 100vh;
  /* overflow: hidden; */

  overflow-x: hidden;
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
}

.navbar ul {
  list-style-type: none;

  background: black;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 16px;
}

.navbar li {
  display: inline-block;
  color: white;
  text-decoration: none;
  justify-content: space-evenly;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}





nav a {
  text-decoration: none;
  color: #fff;
}


.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#pages {
  list-style: none;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0; 
  margin-bottom: 50px;
}


.cards {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 61px;
  /* border: 1px solid red; */
  justify-content: space-evenly;
}

/* Form css */
.custom-form {
  padding: 20px;
  width: 300px;
}

.custom-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.custom-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 90px;
  height: 41px;
}

.custom-button:hover {
  background-color: #18de53;
}






.card {
  width: 250px;
  height: 350px;
  margin: 10px;
  border: 1px solid #ccc;
}


.card img {
  width: 100%;
  height: 260px;
}

.card h3 {
  font-size: 16px;
  padding: 10px;
  position: relative;
}




.fa-star {
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  top: 0; 
  right: 0; 
  color: #fdcc0D;

}

.card i.fa {
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.card i {
 
  bottom: 5px;
  left: 50%;

  padding: 20px;
  margin: 0px;
}

.icon-container {
  display: flex;
  position: relative;
}

i.fa.fa-trash {
  left: 10px;
}


.fa-pencil {
  left: 15px;
}
div#pagination {
  margin: -66px;
  position: relative;
}





/* Pagination */

.page-item {
  margin: 5px;
}

.page-item.active a {
  background-color: #4CAF50;
  color: #fff;
}

.page-item a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer {
  position: absolute;
  text-align: center;
  background-color: #202020;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
    left: 0;
    right: 0;
}

@media (max-width: 400px) {

  .cards {
    max-width: 95%;
    flex-direction: column;

  }

  .card {
    margin: 22px;
  }
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 26px;
}
div#pagination {
  margin: -66px;
  position: relative;
}
#pages {
  margin: 10px 0; 
}

.page-item {
  margin: 5px;
}

.page-item.active a {
  background-color: #4CAF50;
  color: #fff;
}

.page-item a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}