nav {
    background: #333;
    color: #fff;
    padding: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end; 
  }

.movie-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
    margin-left:200px;
    margin-right:200px;
    margin-top:50px;
    align-items:center;
  }
  
 
  .movie-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
  
  .movie-box {
    width: 300px;
    height: 400px;
    margin: 10px;
    border: 1px solid #ccc;
  }
 
  @media (max-width: 600px) {
    .movie-row { 
      flex-direction: column;
    }
    
    .movie-box {
        width: 300px;
        height: 400px;
        margin: 10px;
        border: 1px solid #ccc;
    }
  }